<html>
    <head></head>
    <body>
      <form method="post" action="/login">
        <label>Username</label>
        <input name="username"></input>
        <label>Password</label>
        <input name="password" type="password"></input>
        <input class="button" type="submit" value="登录">
      </form>
    </body>
  </html>


<!DOCTYPE html>

<html lang="zh-CN">

<head>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

<meta name="apple-mobile-web-app-capable" content="yes" />    

<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

<meta name="format-detection" content="telephone=no"/>



<title>用户登陆</title>

<link rel="stylesheet" href="http://cdn.bootcss.com/fullPage.js/2.6.9/jquery.fullPage.min.css">

<style>

.section { text-align: center; font: 50px "Microsoft Yahei"; color: #fff;}

</style>

<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>

<script src="http://cdn.bootcss.com/fullPage.js/2.6.9/jquery.fullPage.min.js"></script>

<script>

$(function(){

	$('#dowebok').fullpage({

		sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', '#f90']

	});

});

</script>

</head>



<body>



<div id="dowebok">

	<div class="section">

		<h3>第一屏</h3>

		<form method="post" action="/login">
        		<label>用户名</label>
        		<input name="username"></input>
        		<label>密码</label>
        		<input name="password" type="password"></input>
        		<input class="button" type="submit" value="登录">
      		</form>

	</div>



</div>



</body>

</html>
